<div class="mis-page">
<form>
	<table>
		<tr>
			<th>账号:
			</th>
			<td>
				<input type="hidden" name="user.id" value="${user?.id}">
				<input class="easyui-textbox" type="text" name="user.username" value="${user?.username}" data-options="required:true,validType:['number']" style="width:100%;height:32px">
			</td>
			<th>用户名:
			</th>
			<td>
				<input name="user.fullname" class="easyui-textbox" value="${user?.fullname}" data-options="required:true,validType:['name']" style="width:100%;height:32px">
			</td>
		</tr>
		<tr>
			<th>手机:
			</th>
			<td>
				<input name="user.phone" class="easyui-textbox" value="${user?.phone}" data-options="validType:['mobile']" style="width:100%;height:32px">
			</td>
			<th>村:
			</th>
			<td>
				<input id="user-org-combobox" class="easyui-combobox" value="${user?.organization?.name}" name="orgId" data-options="
					url: '/houtai/user/org_comboboxjson',
					method: 'get',
					valueField: 'id',
					textField: 'name',
					panelWidth: 200,
					panelHeight: 100"
					 style="width:100%;height:32px">
			</td>
		</tr>
		<tr>
			<th>角色:
			</th>
			<td>
				<input id="user-combobox" class="easyui-combobox" name="roleIds" style="height:50px;" data-options="
					url: '/houtai/user/comboboxjson?userId=${user?.id}',
					method: 'post',
					valueField: 'id',
					textField: 'value',
					panelWidth: 200,
					panelHeight: 100,
					multiple:true,
					multiline:true
				">
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<div>
					<a href="#" id="user-edit-save" class="easyui-linkbutton" iconCls="icon-save">确认</a>
					<a href="#" id="user-edit-cancel" class="easyui-linkbutton" iconCls="icon-cancel">取消</a>
				</div>
			</td>
		</tr>
	</table>
	</form>
</div>