#{extends 'home.html' /}
#{set title:'农村档案管理系统' /}
   
   				<div class="col-xs-3">
   					<div class="panel panel-default">
					   <div class="panel-heading">
					      	<span class="panel_title">村委风貌</span>
					      	<a class="bar_more" href="/villagecadres">MORE>></a>
					   </div>
					   <div class="panel-body" style="height:290px;overflow:hidden;">
					      	<marquee direction="up" behavior="scroll" scrollamount="2" scrolldelay="0" loop="-1" width="100%" height="100%" >
						      	<ul class="cunwei">
						      		<li>
						      			<div class="pic">
						      				<img src="http://pic.58pic.com/58pic/16/83/79/27q58PIC8dp_1024.jpg"></img>
						      			</div>
						      			<div class="remark">
						      				慢羊羊	 村长
						      			</div>
						      		</li>
						      		<li>
						      			<div class="pic">
						      				<img src="http://www.zjc.gov.cn/Files/news/2011/02/19/1947/20110219194733460.jpg"></img>
						      			</div>
						      			<div class="remark">
						      				王某某	 村书记
						      			</div>
						      		</li>
						      	</ul>
						      </marquee>
					   </div>
					</div>
					<div class="panel panel-default">
					   <div class="panel-heading">
					      	<span class="panel_title">民生热点</span>
					      	<a class="bar_more" href="/livelihoodhotspots">MORE>></a>
					   </div>
					   <div class="panel-body" style="height:310px;overflow:hidden;">
					      	<ul class="minsheng">
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				土地协议
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      	</ul>
					   </div>
					</div>
   				</div>
   				<div class="col-xs-6">
					<div class="panel panel-default">
					   <div class="panel-heading">
					      	<span class="panel_title">村务动态</span>
					      	<a class="bar_more" href="/villagedynamic">MORE>></a>
					   </div>
					   <div class="panel-body" style="height:665px;overflow:hidden;">
					      	<ul class="minsheng">
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				关于举办第3届村民运动会通知
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      	</ul>
					   </div>
					</div>
				</div>
   				<div class="col-xs-3">
					<div class="panel panel-default">
					   <div class="panel-heading">
					      	<span class="panel_title">公告公示</span>
					      	<a class="bar_more" href="/publicannouncement">MORE>></a>
					   </div>
					   <div class="panel-body" style="height:200px;overflow:hidden;">
					      	<ul class="minsheng">
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      		<li>
					      			<a href="#">
					      				XXX公示
					      				<span class="time">2015.11.22</span>
					      			</a>
					      		</li>
					      	</ul>
					   </div>
					</div>
					<div class="panel panel-default">
					   <div onclick="javascript:window.location.href='/cunmin/login'" class="panel-body link-mis link-cunmin">
					   </div>
					</div>
					<div class="panel panel-default">
					   <div onclick="javascript:window.location.href='/cunqing/login'" class="panel-body link-mis link-cunqing">
					   </div>
					</div>
				</div>
