#{extends 'home.html' /}
#{set title:'民生热点' /}

	#{if type=='jianfang'}
	<div id="section-1">
	    <ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a href="/livelihoodhotspots">民生热点</a></li>
		  #{if id==null || id==''}
		  <li class="active">建房政策</li>
		  #{/if}
		  #{else}
		  <li><a href="/livelihoodhotspots?type=jianfang">建房政策</a></li>
		  <li class="active">详情</li>
		  #{/else}
		</ol>
	</div>
	#{if id==null || id==''}
	<div>
		<ul class="page-ul">
			<li><a href="/livelihoodhotspots?type=jianfang&id=1">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村旧房拆迁工作的通知<span class="time">2015.11.22</span></a></li>
		</ul>
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	#{/if}
	<div>
		<h1>Hello World</h1>
	</div>
	#{else}
	<div>
	
	</div>
	#{/else}
	#{/if}
	#{if type=='tudi'}
	<div id="section-2">
	    <ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a href="/livelihoodhotspots">民生热点</a></li>
		  <li class="active">土地政策</li>
		</ol>
	</div>
	<div>
		<ul class="page-ul">
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好土地改革工作的通知<span class="time">2015.11.22</span></a></li>
		</ul>
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	#{/if}
	#{if type=='shebao'}
	<div id="section-3">
	    <ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a href="/livelihoodhotspots">民生热点</a></li>
		  <li class="active">社会保障</li>
		</ol>
	</div>
	<div>
		<ul class="page-ul">
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
		</ul>
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	#{/if}