#{extends 'home.html' /}
#{set title:'村务动态' /}
	#{if type=='huodong'}
	<div id="section-1">
	    <ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a href="/villagedynamic">民生动态</a></li>
		  <li class="active">村民活动</li>
		</ol>
	</div>
	<div>
		<ul class="page-ul">
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
		</ul>
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	#{/if}
	#{if type=='huiyi'}
	<div id="section-2">
	    <ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a href="/villagedynamic">民生动态</a></li>
		  <li class="active">村民会议</li>
		</ol>
	</div>
	<div>
		<ul class="page-ul">
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
		</ul>
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	#{/if}
	#{if type=='dashi'}	
	<div id="section-3">
	    <ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a href="/villagedynamic">民生动态</a></li>
		  <li class="active">村大事记</li>
		</ol>
	</div>
	<div>
		<ul class="page-ul">
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
			<li><a href="#">绍兴市关于做好村老人社会保障工作的通知<span class="time">2015.11.22</span></a></li>
		</ul>
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	#{/if}